body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.headRow{
    display:table-row;
}
.divTable{
  display:table;         
  width:auto;         
  background-color:#eee;         
  border:1px solid  #666666;         
}
.divRow{
  display:table-row;
  clear:both;
  background-color:#ccc;  
}
.divCell{
  display:table-cell;                  
  border-left: 2px solid #fff;
  height: 100%;
}

.table {
    display: table;
    height: 100%;
    width: 100%
  }

.cell {
  display: table-cell;
  border-right: 1px solid black;
}

.row {
  display: table-row;
}

.scorecard-body, 
.scorecard-header {
    min-width: 200px;
    height: 150px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    flex-wrap: no-wrap;    
    justify-content: flex-start;
}

.scorecard-row { 
    border-bottom: 1px solid black;
    font-size: 2em;
    min-width: 150px;
    line-height: 100%;
    text-align: center;
    
}

.scorecard-header .scorecard-row {
    background: tomato;
    line-height: 150px;
    font-weight: bold;
    font-size: 3em;
    color: white;
}

.mini-flex-container {
    background: tomato;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 150px;
    flex-wrap: wrap;   
}

.flex-row {
    background: tomato;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.8em;
}

.scorecard-header .flex-half-row {
    background: tomato;
    color: white;
    text-align: center;
    width: 49%;
    font-size: 1.2em;
    border-right: 1px white solid;
}

.flex-half-row {
    background-color: white;
    height: 100%;
    width: 50%;
    text-align: center;
    font-size: 2.0em;
}


.scorecard-body .flex-half-row {
    background-color: gray;
}

.header {
    line-height: 150px;
    font-weight: bold;
    font-size: 3em;







.scoreboard {
    border: 1px black solid;
    min-width: 300px;
    width: 50%;
}


.scoreboard-row {
    display: flex;
    flex-flow: row;
}

.column {
    border: 1px solid black;
    flex: 0 1 50px;
   
    
}

.column:first-child {    
    flex: 0 1 120px;
}