body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}




.headRow{
    display:table-row;
}
.divTable{
  display:table;         
  width:auto;         
  background-color:#eee;         
  border:1px solid  #666666;         
}
.divRow{
  display:table-row;
  clear:both;
  background-color:#ccc;  
}
.divCell{
  display:table-cell;                  
  border-left: 2px solid #fff;
  height: 100%;
}

.table {
    display: table;
    height: 100%;
    width: 100%
  }

.cell {
  display: table-cell;
  border-right: 1px solid black;
}

.row {
  display: table-row;
}